.tree {
    font-size: 14px;

    i,
    span {
        display: inline-block;
        vertical-align: middle;
    }

    section {
        .section__item {
            height: 26px;
            display: flex;
            align-items: center;

            .icon-arrow {
                margin-right: 6px;
                width: 8px;
                height: 8px;
                background: url('../assets/icon-arrow.svg');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 160%;
                transition-duration: 0.2s;
            }

            .icon-arrow.none {
                background: none;
            }

            span {
                margin-left: 3px;
                line-height: 14px;
                color: #666;
            }
        }

        .section__item:hover {
            cursor: pointer;
            background-color: #f5f7fa;
        }

        section {
            padding-left: 16px;
        }
    }

    section.is-expand {
        > .section__item {
            .icon-arrow {
                transform: rotate(90deg);
            }
        }
    }
}
