.tree {
    font-size: 14px;

    i,
    span {
        display: inline-block;
        vertical-align: middle;
    }

    .tree__item {
        height: 26px;
        display: flex;
        align-items: center;

        .icon-arrow {
            margin-right: 6px;
            width: 10px;
            height: 10px;
            background: url('../assets/icon-arrow.svg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 160%;
        }


        span {
            margin-left: 3px;
            line-height: 14px;
            color: #666;
        }
    }

    .tree__item:hover {
        cursor: pointer;
        background-color: #f5f7fa;
    }

    .tree__item[expand='true'] {
        .icon-arrow {
            transform: rotate(90deg);
        }
    }
}
