.tree {
  font-size: 14px;
}
.tree i,
.tree span {
  display: inline-block;
  vertical-align: middle;
}
.tree .tree__item {
  height: 26px;
  display: flex;
  align-items: center;
}
.tree .tree__item .icon-arrow {
  margin-right: 6px;
  width: 10px;
  height: 10px;
  background: url("../assets/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 160%;
}
.tree .tree__item span {
  margin-left: 3px;
  line-height: 14px;
  color: #666;
}
.tree .tree__item:hover {
  cursor: pointer;
  background-color: #f5f7fa;
}
.tree .tree__item[expand='true'] .icon-arrow {
  transform: rotate(90deg);
}
